# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    # Source - https://stackoverflow.com/a
# Posted by ashkan117, modified by community. See post 'Timeline' for change history
# Retrieved 2025-12-08, License - CC BY-SA 4.0

# Source - https://stackoverflow.com/a
# Posted by ashkan117, modified by community. See post 'Timeline' for change history
# Retrieved 2025-12-08, License - CC BY-SA 4.0

steps:
  - uses: actions/checkout@v4
  - uses: actions/setup-node@v4
    with:
      cache-dependency-path: subdir/package-lock.json
      node-version: 20
      cache: "npm"
  - run: npm ci
  - run: npm test
